### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Selenide ###
build/

### Allure ###
allure-results/
allure-report/

### Logs ###
*.log
logs/

### Local environment ###
.env
.env.*

### macOS ###
.DS_Store